.chat-container {
  max-width: 700px; /* Adjust as needed */
  height: 700px; /* Adjust as needed */
  border: 2px solid #ccc;
  overflow: hidden;
}

.message-list {
  max-height: 100%;
  overflow: auto;
}
